<div>
    <img class="marker-img w-100 rounded-3" [src]="descriptionData?.image" alt="Imagen del marcador">
    <h3 class="marker-title">{{ descriptionData?.title }}</h3>
    <p class="marker-description">{{ descriptionData?.description }}</p>
    <h4 class="marker-subtitle1">Geografía y clima</h4>
    <p class="marker-geography">{{ descriptionData?.geography }}</p>
    <h4 class="marker-subtitle2">Atractivos</h4>
    <p class="marker-atractions">{{ descriptionData?.attractions }}</p>
</div>
<!-- información de la ruta -->
