<section class="w-100 z-n1">
    <div class="background-img position-fixed z-n1 top-0"></div>
    <div class="row row-cols-1 row-cols-lg-2 position-absolute">
        <div class="img-col col text-center px-0 mx-0">
            <img class="w-50" src="/assets/img/RouteRider5.png" alt="logo">
        </div>
        <div class="col d-flex flex-column align-items-center px-0 mx-0">
            <form class="form z-1" (ngSubmit)="userLogin()" #loginForm="ngForm">
                <h2 class="mt-3 mb-3 mb-sm-4 fw-bold w-100 text-center">INICIO DE SESIÓN</h2>
                <div class="alert alert-danger fw-bold text-center" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
                <div class="mb-4 mb-sm-5">
                    <input type="email" class="form-control" name="userEmail" placeholder="Correo eléctronico" id="userEmail" [(ngModel)]="userEmail" (input)="clearErrorMessage()" required>
                </div>
                <div class="mb-4 mb-sm-5">
                    <input type="password" class="form-control" name="UserPassword" placeholder="Contraseña" id="UserPassword" [(ngModel)]="userPassword" (input)="clearErrorMessage()" required>
                </div>
                <button type="submit" class="btn" [disabled]="!loginForm.form.valid">INGRESAR</button>
                <a href=""><div id="emailHelp" class="form-text fw-bold">¿Olvidaste tu contraseña?.</div></a>
            </form>
            <div class="text mt-5">
                <p>¿Aún no perteneces a la comunidad RouteRider?. <a class="fw-bold" routerLink="/register">Registrate aquí.</a></p>
            </div>
        </div>
    </div>
    <app-mobile-footer class="mobile-footer w-100 position-absolute bottom-0"></app-mobile-footer>
</section>
